
.bordeTemporal{
    border: 5px solid purple;
    margin: 5px;
}
.bordeTemporal2{
    border: 5px solid rgb(143, 154, 158);
    margin: 1px;
}
/* GRID AREA*/
.gridAreaIndex{
    display: grid;
    grid-template-areas:
    "cabeza"
    "menu"
    "contenido"
    "pie"
    ;
    grid-template-rows: 3fr 1fr 16fr 1fr ;
    grid-template-columns: auto;
}
.gridAreaIndexDos{
    display: grid;
    grid-template-areas:
    "cabeza cabeza"
    "menu menu"
    "columna contenido"
    "pie pie"
    ;
    grid-template-rows: 3fr 1fr 16fr 1fr ;
    grid-template-columns:20% auto;
}
/* areas */
.cabeza{
    grid-area: cabeza;
}
.contenido{
    grid-area: contenido;
}
.pie{
    grid-area: pie;
}
.columna{
    grid-area: columna;
}
.menu {
    grid-area: menu;
}
body{
    width: 100%;
    height: 100vh;
    background-image: url(./img/fondo.jpg);
    background-size:cover;
    
}
.banner{
    width: 10%;
}
.fondoColumna{
    background-color: rgb(224, 69, 191);
}

.centrarTexto{
    display: flex;
    align-items: center;
    justify-content: start;
}
.centrar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton{
    display: flex;
    align-items:flex-end;
}
.margenAgregarProducto{
    margin: 2%;
}

.lista{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.productSize{
    width: 40%;
}
.centrarImagen{
    display: flex;
    align-items: center;
    justify-content:center;
}



.uno{
    width: 15%;
    height: 100%;
}
.dos{
    width: 20%;
    height: 100%;
}
.tres{
    width: 20%;
    height: 100%;
}
.cuatro{
    width: 5%;
    height: 100%;
}
.cinco{
    width: 10%;
    height: 100%;
}
.seis{
    width: 15%;
    height: 100%;
}
.siete{
    width: 15%;
    height: 100%;
}

footer{
    background-color: black;
}
.fondo1{
    background-color: rgb(214, 200, 5);
}.fondo2{
    background-color: rgb(255, 123, 0);
}
.fondo3{
    background-color: rgb(207, 195, 27);
    padding: 2%;
}

h1{
    color:rgb(177, 26, 119);
    font-weight: 700;
    font-size: 50px;
    text-shadow: 5px 5px 5px rgb(112, 27, 168);
}
h2{
    color:rgb(255, 255, 255);
    font-weight: bold;
}
h3{
    color:rgb(241, 241, 241);
    font-weight: bold;
}
h4{
    color: black;
    font-weight: bold;
}
h{
    color:rgb(241, 241, 241);
    font-weight: bold;
}
.headerbanner{
    background-image: url(./img/bannerdos.jpg);

} 
header{
    background-color: #fff;
}  
.navAdministrador{
    background-color: #fff;
}
ul{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
a{
    padding-left: 15%;
    text-decoration: none;
    
}
li{
    list-style-type: none;
}
.centrarImagenHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.productSize{
    width: 80%;
}

.caja{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.productos{
    width: 23%;
}
.flexearProductos{
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
}
.btn-primary{
    color: #fff;
    background-color: #2b4aa1;
    border-color: #fd7e0d;
}

.centrarTexto{
    display: flex;
    align-items: center;
    justify-content: center;
}
.centrarContenido{
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 50%;
}
.mb-4 {
    margin-bottom: 0% !important;
    margin: 2%;
}
.paddingRango{
    padding: 20%;
}