/* Estilos generales*/
/*-------------------------------*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Flex', sans-serif;
    box-sizing: border-box;
}

.bordeTemporal{
        border: 5px solid rgb(204, 137, 13);
        margin: 5px;
    }

.gridAreasIndex{
    display: grid;
    grid-template-areas: 
    "cabeza cabeza cabeza"
    "menuNav menuNav carrito"
    "columna cuerpo carrito"
    "pie pie pie";
    grid-template-rows: 3fr 1fr 16fr 1fr ;
    grid-template-columns: 20% auto 30%;

}
.GridInicio{
    display: grid;
    grid-template-areas: 
    "seccion1 seccion3"
    "seccion2 seccion3";
    grid-template-rows: 1fr 1fr ;
    grid-template-columns:  75% auto;
}

body{
    height: 100vh;
    width: 100%;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 166, 0, 0.466);
}

aside{
    background-color: rgba(248, 248, 248, 0.712);
}
nav{
    background-color: aliceblue;
}
footer{
    background-color: black;
}
.cabeza{
    grid-area: cabeza;
}
.menuNav{
    grid-area: menuNav;
}
.columna{
    grid-area: columna;
}
.cuerpo{
    grid-area: cuerpo;
}
.pie{
    grid-area: pie;
}
.carrito{
    grid-area: carrito;
}
.seccion1{
    grid-area: seccion1;
}
.seccion2{
    grid-area: seccion2;
}
.seccion3{
    grid-area: seccion3;
}

.sectionFlex{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.productSize{
    width: 80%;
}
.productSizeCarrito{
    width: 25%;
}
.divSize{
    width: 22%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: rgba(188, 193, 197, 0.678);
    
}

.columnFlex{
    text-align: center;
}

p{
    padding: 3%;
}
.marginButton{
    margin: 3%;
    padding: 1,5%;
}
.desarroladopormi{
    color: rgb(13, 49, 83);
    padding: 0;
    text-align: center;
}
h1{
    color: aliceblue;
}

.carritoFlex{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 100%;
   
}
h2{
    font-size: 90%;
}
.carritoStyle{
    height: 100vh;
}

.indexSection{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    
}

.sectionOne{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin: 3%;
    padding: 2%;
    background-color: aliceblue;
}

.forms{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 2%;
    margin: 3%;
}

.fondoIngreso{
    background-color: rgb(151, 103, 14);
}

.headerTienda{
    display: flex;
    flex-flow: column wrap;
}

.usuarioLog{
    font-size: 120%;
    text-align: right;
}

.usuarios{
    font-size:15px;
}